.body{
    flex-grow: 1;
    width: 88%;
    align-self: center;
    columns: 3;
    column-gap: 10px;
    margin: 10px;
}
/* display: grid;
grid-template-columns: repeat(3, 1fr); */

.cell{
    break-inside: avoid;
}

.load-button{
    margin: 1rem;
}
.load-button button{
    width: 40%;
    height: 4rem;
    outline: none;
    border: none;
    font-size: 120%;
    cursor: pointer;
    /* background-color: rgb(162, 162, 162);
    color: white; */
}
.load-button button:active{
    background-color: rgb(146, 146, 146);
}


@media only screen and (max-width: 900px) {
    
    .body{
        columns: 2;
    }

}
@media only screen and (max-width: 600px) {
    
    .body{
        columns: 1;
    }
    
}

