.img-card{
    width: fit-content;
    min-height: 21rem;
    display: flex;
    flex-direction: column;
}
.thumbnail{
    height: 17rem;
}
.thumbnail img{
    height: 100%;
}
.contributer{
    width: 100%;
    flex-grow: 1;
    background-color: rgb(236, 236, 236);
    
}